
.title {
    display: flex;
    align-items: center;
}
.title h1 {
    color: #0078f2;
}
.title a {
    padding: 5px 25px;
    margin-left: auto;
    text-decoration: none;
    border-radius: 5px;
    color: #0078f2;
    border: 1px solid #0078f2;
    transition: 0.2s;
}
.title a:hover {
    color: white;
    background: #0078f2;
    border: 1px solid #0078f2;
    box-shadow: 0px 0px 8px 1px #0078f2;
}

.promote {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 400px;
    max-width: 100%;
    position: relative;
    border-radius: 10px;
    background: red;
    box-shadow: 0px 0px 10px 2px black;
}

.promote .overlay {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2;
    opacity: 0.7;
}

.promote .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    z-index: 3;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 400px;
}

.content .text .logo {
    width: 300px;
    margin-bottom: 20px;
}

.content .text {
    width: 50%;
    height: 100%;
    display: flex;
    word-wrap: break-word;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 40%;
    height: 350px;
}

.content h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    display: block;
    font-size: 35px;
    font-weight: bold;
}
.content p {
    width: 80%;
    color: rgba(255, 255, 255, 255.7);
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.content a {
    border: 0;
    border-radius: 5px;
    padding: 15px 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 15px;
    color: white;
    background: rgba(255, 255, 255,0.3);
}
.content a:hover {
    background: rgba(255, 255, 255,0.7);;
}
.content a:focus {
    outline: 0;
}

@media screen and (max-width: 850px) {
    .content .text {
        width: 100%;
    }
    .content .video {
        width: 100%;
    }
    .banner-content {
        width: 100%;
    }
    .img-banner {
        width: 100%;
    }
}

