@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
* {
    font-family: 'Mitr', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}